flask>=3.1.2
flask-cors>=6.0.1
flask-sqlalchemy>=3.1.1
flask-jwt-extended>=4.7.1
gunicorn>=23.0.0
passlib[bcrypt]>=1.7.4
psycopg2-binary>=2.9.10
werkzeug>=3.1.3
python-dotenv>=1.1.1
pymongo>=4.14.1
pillow>=11.3.0
numpy>=2.3.2
scikit-learn>=1.7.1
email-validator>=2.3.0
openai>=1.0.0
groq>=0.4.0
requests
aiohttp
SpeechRecognition
certifi
pydub
